html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

body {
	font-family: 'Quicksand-Regular', sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}