html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}


body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 16px;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.lnr {
	font-size: 20px;
	color: #7e8fa1;
}

.title {
	display: flex;
	align-items: center;
	font-size: 30px;
	height: 110px;
	background-color: #fff;
	width: 100%;
	padding: 0 35px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	border-radius: 4px;
	margin-bottom: 50px;
}