@import 'fonts';
@import 'vars';
@import 'global';


/* start main-page */

.header {

	&__top {
		background-color: #eef1f3;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
	
	&__btn {
		color: #fff;
		background-color: $light-blue;
		line-height: 28px;
		font-size: 14px;
		padding: 4px 18px;
		border-radius: 20px;
		margin: 0 10px 0 auto;
		transition: all .3s;
		&:hover,
		&:focus {
		color: $light-blue;
		background-color: transparent;
		border: 1px solid $light-blue;
		}
	}

	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 9px;
	}

	&__icon {
		position: relative;
		margin-left: 30px;
		border-radius: 50%;
		padding: 5px 6px;
		transition: all .3s;
		&:hover,
		&:focus {
		background-color: #fff;
		}

		&--rings {
			margin-bottom: 10px;
		}

		&--rings:hover .header__dropdown--notifications {
		display: block;
		}

		&--mails:hover .header__dropdown--mails {
		display: block;
		}

		&--shopping-cart:hover .header__dropdown--cart {
		display: block;
		}
	}

	&__icon-link {
		padding: 40px 0;
	}

	&__number {
		font-size: 14px;
		font-family: 'Quicksand-Medium', sans-serif;
		position: absolute;
		top: -11px;
		color: #fff;
		padding: 3px 5px;
		border-radius: 15px;
		min-width: 22px;
		text-align: center;
	}

	&__number--rings {
		background-color: #ff6a6c;
		left: 13px;
	}

	&__number--mails {
		background-color: #62d03b;
		left: 17px;
	}

	&__number--shoping-cart {
		background-color: $light-blue;
		left: 18px;
	}

	&__profile {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;
		&:hover .header__dropdown--profile{
			display: block;
		}
	}

	&__img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin: 0 20px 0 35px;
		}
	
	&__name {
		margin-bottom: 5px;
		font-weight: 700;
	}

	&__name-link {
		font-family: 'Quicksand-Medium', sans-serif;
		color: #333333;
	}

	&__wallet {
		font-size: 15px;
		font-weight: 500;
		color: $light-blue;
	}

	&__menu-inner {
		height: 80px;
	}

	&__box {
		height: 80px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--top {
			display: flex;
    	align-items: center;
		}
	}

	&__burger {
		display: none;
	}

	&__item {
		padding: 30px 0;
		position: relative;
		&:hover .header__dropdown--menu {
			display: block;
		}

		&:hover .header__dropdown--pages {
			display: block;
		}
	}

	&__item + &__item {
		margin-left: 34px;		
	}

	&__link {
		padding: 30px 0;
		position: relative;
		font-size: 15px;
		color: #333333;
		text-transform: uppercase;
		font-family: 'Quicksand-Medium', sans-serif;
		border: none;
		background-color: transparent;
		cursor: pointer;
		&:hover,
		&:focus {
		color: $light-blue;
		}
	}

	&__search {
		max-width: 362px;
		position: relative;
	}
	
	&__input {
		color: #898f96;
		outline: none;
		height: 46px;
		width: 100%;
		border: 1px solid rgb(217, 223, 229);
		border-radius: 30px;
		padding: 0 178px 0 25px;
	}

	&__search-icon {
		color: #fff;
		font-size: 15px;
	}

	&__search-btn {
		cursor: pointer;
		position: absolute;
		border: none;
		padding: 14px 28px;
		border-radius: 30px;
		background-color: $light-blue;
		right: 0;
		top: 0;
		transition: all .3s;
		&::before {
			color: #fff;
			font-size: 15px;
		}
	}

	&__dropdown {
		position: absolute;
		background-color: #fff;
		z-index: 5;
		border-top: 1px solid $light-blue;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .5s;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		display: none;
		&--notifications {
		width: 370px;
		padding: 20px 25px 0;
		top: 65px;
		left: -9px;
		}

		&--mails {
		width: 370px;
		padding: 20px 0 0;
		right: -26px;
		top: 65px;
		}

		&--cart {
			width: 400px;
			top: 65px;
			right: -35px;
		}

		&--profile {
			width: 270px;
			top: 99px;
			padding: 20px;
			right: 0px;
		}

		&--menu {
			width: 270px;
			padding: 20px;
			line-height: 44px;
			top: 80px;
			left: 0;
		}

		&--pages {
			width: 1140px;
			padding: 0 22px 30px;
			top: 80px;
		}
	}

}

/* start dropdowns */

.notifications {

	&__triangle {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 11px solid #0674ec;
    top: -11px;
    left: 16px;
	}
	
	&__top {
		margin-bottom: 20px;
	}

	&__title {
		font-size: 18px;
	}

	&__view-all {
		font-size: 15px;
		color: $light-blue;
		margin-left: 128px;
	}

	&__item {
		border-top: 1px solid #e8ebf0;
		display: flex;
		padding: 18px 0;
		line-height: 18px;
	}

	&__img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	&__info {
		width: 215px;
		margin-left: 14px;
	}

	&__name {
		color: #333333;
		font-family: 'Quicksand-Medium', sans-serif;
	}

	&__action {
		font-size: 15px;
		color: #747a86;
	}

	&__project {
		font-size: 15px;
		color: $light-blue;
	}

	&__online {
		font-size: 14px;
		color: #747a86;
		margin-top: 6px;
	}

	&__icon {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: auto;
		margin-top: 13px;
		position: relative;
		&::before {
			position: absolute;
			font-family: 'Linearicons-Free';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 15px;
		}

		&--heart {
		background-color: rgba(6, 116, 236, 0.1);
		&::before {
			content: "\e813";
			color: $light-blue;
		}
		}

		&--message {
		background-color: rgba(115, 71, 193, 0.1);
		&::before {
		content: "\e83f";
		color: #7347c1;
		}
		}
		

		&--cart {
		background-color: rgba(255, 106, 108, 0.1);
		&::before {
		content: "\e82e";
		color: #ff6a6c;
		}
		}

		&--star {
		background-color: rgba(98, 208, 58, 0.1);
		&::before {
		content: "\e814";
		color: #62d03a;
		}
		}
	}
}


.mails {
	&__triangle {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 11px solid #0674ec;
    top: -11px;
    right: 33px;
	}

	&__top {
		margin-bottom: 20px;
		padding: 0 25px;
	}

	&__title {
		font-size: 18px;
	}

	&__view-all {
		font-size: 15px;
		color: $light-blue;
		margin-left: 150px;
	}

	&__item {
		border-top: 1px solid #e8ebf0;
		padding: 18px 25px;
		line-height: 18px;
		display: flex;
	}

	&__img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	&__box {
		margin-left: 14px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		width: 265px;
	}


	&__name {
		color: #333333;
		font-family: 'Quicksand-Medium', sans-serif;
		position: relative;
		&::after {
			position: absolute;
			font-family: 'Linearicons-Free';
			font-size: 15px;
			right: -30px;
		}

		&--new::after {
			content: "\e818";
			color: $light-blue;
		}

		&--reply::after {
			content: "";
			width: 16px;
			height: 12px;
			top: 3px;
			background-image: url(../images/reply.svg);
		}
	}

	&__online {
		font-size: 14px;
		&--new {
			color: $light-blue;
		}
		&--reply,
		&--seen {
			color: #747a86;
		}
	}

	&__text	{
		font-size: 15px;
		color: #555555;
	}
}


.cart {

	&__triangle {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 11px solid #0674ec;
    top: -11px;
    right: 41px;
	}
	&__item {
		padding: 25px 25px 27px;
		display: flex;
		border-bottom: 1px solid #e8ebf0;
	}

	&__img {
		width: 80px;
		height: 70px;
		margin-right: 15px;
	}

	&__info {
		margin-top: -5px;
	}

	&__name,
	&__theme {
		font-family: 'Quicksand-Medium', sans-serif;
		color: #000000;
		display: block;
		line-height: 22px;
	}
	


	&__type {
		margin-top: 13px;
		font-size: 15px;
		color: #7347c1;
		padding-left: 20px;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 15px;
			height: 15px;
			background-image: url(../images/wordpress-icon.svg);
			left: 0;
			top: 2px;
		}
	}

	&__right {
		margin-left: auto;
		text-align: center;
	}

	&__icon {
		cursor: pointer;
		position: relative;
		border: none;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		margin-bottom: 10px;
		background-color: rgba(115, 70, 192, .1);
		&:hover,
		&:focus {
			background-color: transparent;
		}
		&::before {
			font-family: 'Linearicons-Free';
			content: "\e811";
			font-size: 15px;
			color: #818c98;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__price {
		font-family: 'Quicksand-Medium', sans-serif;
		background-color: rgba(6, 116, 236, 0.1);
		color: $light-blue;
		border-radius: 30px;
		padding: 6px 11.5px;
	}

	&__total {
		padding: 23px 25px 30px;
		font-size: 18px;
		font-family: 'Quicksand-Medium', sans-serif;
		width: 152px;
		margin-left: auto;
	}

	&__number {
		margin-left: 20px;
	}

	&__links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 60px;
	}

	&__link {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		transition: all .5s;
		&--cart {
		background-color: #7347c1;
		border-bottom-left-radius: 4px;
		border-top: 1px solid #7347c1;

		&:hover {
		color: #7347c1;
		background-color: transparent;
		}
		}

		&--checkout {
		background-color: $light-blue;
		border-bottom-right-radius: 4px;
		border-top: 1px solid $light-blue;

		&:hover {
		color: $light-blue;
		background-color: transparent;
		}
		}
	}
}


.profile {

	&__triangle {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 11px solid #0674ec;
    top: -11px;
    right: 28px;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		border-radius: 2px;
		position: relative;
		transition: all .3s;
		&:hover {
			background-color: $light-blue;
			.profile__link {
				color: #fff;
			}
			&.profile__item::before {
				color: #fff;
			}
		}
		&::before {
			font-family: 'Linearicons-Free';
			position: absolute;
			color: #54667a;
			font-size: 15px;
			left: 9px;
			top: 13px;
		}

		&--profile::before {
			content: "\e82a";
		}

		&--dashboard::before {
			content: "\e800";
		}

		&--settings::before {
			content: "\e810";
		}

		&--purchases::before {
			content: "\e82e";
		}

		&--favorites::before {
			content: "\e813";
		}

		&--credits::before {
			content: "\e812";
		}

		&--sales::before {
			content: "\e843";
		}

		&--upload::before {
			content: "\e866";
		}

		&--edit::before {
			content: "\e828";
		}

		&--withdrawals::before {
			content: "\e84c";
		}

		&--logout::before {
			content: "\e820";
		}
		
	}

	&__link {
		padding-left: 40px;
		font-size: 15px;
		line-height: 44px;
		color: #54667a;
	}
}


.menu {
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		padding-left: 10px;
		transition: all .3s;
		border-radius: 2px;
		&:hover {
			.menu__link {
				color: #fff;
			}
			background-color: $light-blue;
		}
	}

	&__link {
		font-size: 15px;
		color: #54667a;
	}
}


.pages {
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-family: 'Quicksand-Medium', sans-serif;
		color: #000000;
		padding: 30px 0 20px;
		border-bottom: 1px solid #e8ebf0;
		margin-bottom: 20px;
	}

	&__col {
		&--martplace {
			width: 435px;
		}

		&--dashboard {
			width: 190px;
		}

		&--other {
			width: 420px;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		margin-right: 35px;
	}

	&__link {
		font-size: 15px;
		line-height: 42px;
		color: #54667a;
		&:hover {
			color: $light-blue;
		}
	}
}

/* end dropdowns */


.main-screen {
	background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
	padding: 188px 0;
	color: #fff;
	text-align: center;
	&__title {
		font-size: 60px;
		line-height: 70px;
		font-family: 'Quicksand-Bold', sans-serif;
	}

	&__title--thin {
		font-family: 'Quicksand-Regular', sans-serif;
	}

	&__text {
		font-family: 'Quicksand-Medium', sans-serif;
		margin: 35px 0 60px;
		font-size: 20px;
	}

	&__btn {
		display: inline-block;
		margin-top: 15px;
	}

	&__link {
		margin: 14px;
		font-size: 16px;
		border: 1px solid #fff;
		border-radius: 35px;
		padding: 20px 30px;
		color: #fff;
		transition: all .3s;
		&:hover,
		&:focus {
		background-color: #fff;
		color: #294cce;
		}
	}
}


.search {
	margin-bottom: 130px;
	&__inner {
		position: relative;
	}

	&__shadow--1 {
		border-radius: 6px;
		background-color: #fff;
		opacity: .5;
		position: absolute;
		max-width: 1080px;
		width: 100%;
		height: 135px;
		top: -95px;
		right: 30px;
	}

	&__shadow--2 {
		background-color: #fff;
		border-radius: 6px;
  	opacity: .5;
  	position: absolute;
		max-width: 1110px;
		width: 100%;
		height: 135px;
		top: -80px;
		right: 15px;
		z-index: 2;	
	}

	&__main {
		position: absolute;
		background-color: #fff;
		max-width: 1140px;
		width: 100%;
		padding: 40px;
		border-radius: 6px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		z-index: 3;
		display: flex;
		align-items: center;
		top: -65px;
	}

	&__form {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}

	&__box {
		display: inline-block;
		position: relative;
		&::after {
		font-family: "Linearicons-Free";
		content: "\e874";
		font-size: 12px;
		position: absolute;
		right: 19px;
		top: 20px;
		color: #898f96;
		z-index: 20;
		}
	}

	&__categories {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		padding: 18px 50px 17px 20px;
		border: 1px solid #dcdcdc;
		margin-top: -3px;
		margin-left: -5px;
		cursor: pointer;
		-webkit-appearance: none;
		&:focus {
		outline: none;
		border-color: #000;
		}
	}

	&__categories-icon {
		position: absolute;
		font-size: 12px;
		right: 333px;
    top: 24px;
	}


	&__input {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: 1px solid #dcdcdc;
		max-width: 615px;
		height: 55px;
		width: 100%;
		padding: 0 80px 0 30px;
	}

	&__btn {
		color: #fff;
		max-width: 225px;
		width: 100%;
		background-color: $light-blue;
		padding: 18px 60px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		text-align: center;
		margin-left: 40px;
	}
}


.reasons {
	margin-top: 230px;
	padding-bottom: 170px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: 24px;
		margin: 30px 0 20px;
		&--middle {
			margin-top: 25px;
		}
	}

	&__item {
		border-radius: 4px;
		max-width: 360px;
		padding: 40px 0 50px;
		width: 100%;
		transition: all .3s;
		cursor: pointer;
		&:hover,
		&:focus {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}
	}

	&__text {
		font-size: 16px;
		line-height: 30px;
		margin: 0 30px;
		color: #555555;
	}
}


.weekly {
	background-color: #eff1f5;
	padding: 115px 0;
	&__inner {
		position: relative;
	}

	&__img {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow: hidden;
		margin-right: -4px;
		z-index: 5;
		display: inline-block;
		height: 450px;
		max-width: 550px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	} 

	&__item {
		display: flex;
		align-items: flex-start;
		width: 100%;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}

	&__description {
		display: inline-block;
		height: 450px;
		max-width: 594px;
		width: 100%;
		background-color: #fff;
		padding: 50px 60px 25px 50px;
		border-radius: 4px;
	}

	&__item-title {
		font-size: 24px;
		font-family: 'Quicksand-Medium', sans-serif;
	}

	&__author {
		font-size: 15px;
		display: flex;
		align-items: center;
		padding: 20px 0;
	}

	&__text {
		max-width: 455px;
		font-size: 15px;
		line-height: 30px;
		color: #555555;
		margin-bottom: 35px;
	}

	&__modules {
		padding-bottom: 40px;
		border-bottom: 1px solid #ececec;
	}

	&__module {
		font-size: 15px;
		display: inline-block;
		color: #868c96;
		padding: 5px 15px;
		background-color: #f1f3f6;
		border-radius: 20px;
		outline: none;
	}

	&__module + &__module {
		margin-left: 7px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 20px;
	}

	&__price {
		font-size: 15px;
		display: inline-block;
		color: #fff;
		font-family: 'Quicksand-Medium', sans-serif;
		background-color: $light-blue;
		padding: 7.5px 19px;
		border-radius: 20px;
	}

	&__likes {
		display: inline-block;
		margin: 0 20px 0 45px;
		position: relative;
		border: none;
		background-color: transparent;
		&::before {
			position: absolute;
			font-size: 15px;
			font-family: "Linearicons-Free";
			content: "\e813";
			color: #7347c1;
			right: 27px;
		}
	}

	&__added {
		display: inline-block;
		padding-left: 25px;
		color: $light-blue;
		position: relative;
		border: none;
		background-color: transparent;
		&::before {
			position: absolute;
			font-size: 15px;
			font-family: "Linearicons-Free";
			content: "\e82e";
			color: $light-blue;
			right: 31px;
		}
	}

	&__stars {
		display: inline-block;
		margin-left: auto;
	}

	&__name {
		padding: 0 10px;
		outline: none;
		color: #000;
	}

	&__type {
		color: #7347c1;
		padding-left: 20px;
		margin-left: 20px;
		background-repeat: no-repeat;
		outline: none;
	}

	.slick-arrow {
		outline: none;
		border: none;
		background-color: #7347c1;
		height: 45px;
		width: 55px;
		font-size: 0;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		cursor: pointer;
	}

	.slick-prev {
		right: 85px;
		top: -130px;
		border-top-left-radius: 23px;
		border-bottom-left-radius: 23px;
		&:before {
			font-family: "Linearicons-Free";
			font-size: 14px;
			content: "\e875";
			color: #fff;
		}
	}
	
	.slick-next {
		right: 30px;
		top: -130px;
		border-top-right-radius: 23px;
		border-bottom-right-radius: 23px;
		&:before {
		font-family: "Linearicons-Free";
		font-size: 14px;
		content: "\e876";
		color: #fff;
		}
	}
}


.newest {
	background-color: #f6f7fb;
	padding: 120px 0;
	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__filter-btn {
		font-size: 16px;
		color: #747b86;
		max-width: 91px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 30px 0;
		transition: all .5s;
		cursor: pointer;
	}

	&__link {
		width: 5px;
		height: 20px;
		background-repeat: no-repeat;
		padding: 0 5px;
		border: none;
		background-color: transparent;
	}

	&__triangle {
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 11px solid #fff;
		position: absolute;
		right: 29px;
		top: -9px;
	}

	&__list {
		position: absolute;
		width: 185px;
		height: 180px;
		background-color: #fff;
		padding: 25px 30px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		border-radius: 3px;
		top: 67px;
		right: -28px;
		display: none;
	}
	

	&__filter {
		font-size: 15px;
		line-height: 15px;
		outline: none;
		border: none;
		background-color: #fff;
		color: #747b86;
		cursor: pointer;
		display: block;
	}

	&__filter-btn:hover &__list {
		display: block;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__categories {
		border-radius: 4px;
		width: 100%;
		height: 95px;
		background-color: #fff;
		margin-bottom: 50px;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
		padding: 0 30px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.newest__filter:hover {
		color: $light-blue;
	}
	
	.newest__filter + .newest__filter {
		margin-top: 10px;
	}
	
	
	&__btn {
		font-size: 15px;
		outline: none;
		border: none;
		color: #747b86;
		background-color: #f1f3f6;
		padding: 7.5px 19.5px;
		border-radius: 30px;
		cursor: pointer;
		&:hover,
		&:focus {
		background-color: $light-blue;
		color: #fff;
		}
	}

	&__btn + &__btn {
		margin-left: 10px;
	}

	&__btn-all {
		font-size: 16px;
		margin: 40px auto 0;
		display: block;
		padding: 19px 33px;
		color: #747b86;
		background-color: #f1f3f6;
		border: 1px solid $light-blue;
		&:hover,
		&:focus {
		background-color: $light-blue;
		color: #fff;
		}
	}

}


.product {
	&__item {
		position: relative;
		max-width: 360px;
		min-height: 530px;
		border-radius: 4px;
		background-color: #fff;
		margin-bottom: 30px;
	}

	&__img {
		overflow: hidden;
		width: 360px;
		height: 230px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&__info {
		padding: 30px;
		border-bottom: 1px solid #ececec;
	}

	&__title {
		font-size: 20px;
		font-family: 'Quicksand-Medium', sans-serif;
	}

	&__author {
		padding: 20px 0 30px;
		display: flex;
		align-items: center;
	}

	&__img-author {
		width: 28px;
		height: 28px;
		border-radius: 50%;
	}

	&__name {
		margin-left: 5px;
		font-size: 15px;
		color: #000;
	}

	&__type {
		background-repeat: no-repeat;
		background-position: 0px 2px;
		padding-left: 25px;
		margin-left: 20px;
	}

	&__text {
		line-height: 25px;
		color: #555555;
	}

	&__bottom {
		padding: 16px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}

	&__stars {
		margin: 0 auto;
	}

	&__price {
		font-family: 'Quicksand-Medium', sans-serif;
		font-size: 15px;
		padding: 7px 17px;
		background-color: #e6f1fd;
		border-radius: 25px;
	}

	&__price-link {
		color: $light-blue;
	}

	&__likes {
		font-size: 15px;
		margin-left: 31px;
		position: relative;
		border: none;
		background-color: transparent;
		&:before {
			font-family: "Linearicons-Free";
			content: "\e813";
			font-size: 15px;
			color: #7f4ec2;
			position: absolute;
			top: 0px;
			left: -19px;
		}
	}

	&__carts {
		font-size: 15px;
		color: $light-blue;
		margin-left: auto;
		position: relative;
		border: none;
		background-color: transparent;
		&:before {
			font-family: "Linearicons-Free";
			content: "\e82e";
			font-size: 15px;
			color: $light-blue;
			position: absolute;
			left: -22px;
			top: -1px;
		}
	}

	&__hover {
		position: absolute;
		width: 360px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 230px;
		transition: all .3s;
		z-index: 10;
		overflow: hidden;
		opacity: 0;
	}

	&__link {
		margin: 5px;
		padding: 11px 28px;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 25px;
		font-family: 'Quicksand-Medium', sans-serif;
		&:hover {
			background-color: #fff;
			color: $light-blue;
		}
	}

	&__item:hover &__hover {
	opacity: 1;
	}

}


.feed {
	background-color: #eff1f5;
	padding-top: 120px;
	padding-bottom: 100px;

	&__slide {
		margin-left: 30px;
	}

	.slick-slide.slick-current.slick-active .feed__slide {
		margin-left: 0;
	}

	.slick-arrow {
		outline: none;
		border: none;
		background-color: $light-blue;
		height: 45px;
		width: 55px;
		font-size: 0;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		cursor: pointer;
	}

	.slick-prev {
		right: 85px;
		top: -130px;
		border-top-left-radius: 23px;
		border-bottom-left-radius: 23px;
		&:before {
			font-family: "Linearicons-Free";
			font-size: 14px;
			content: "\e875";
			color: #fff;
		}
	}
	
	.slick-next {
		right: 30px;
		top: -130px;
		border-top-right-radius: 23px;
		border-bottom-right-radius: 23px;
		&:before {
		font-family: "Linearicons-Free";
		font-size: 14px;
		content: "\e876";
		color: #fff;
		}
	}
}


.stats {
	background-color: #212225;
	padding: 97px 0 100px;
	font-size: 36px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		text-align: center;
		margin: 0 10px;
	}

	&__text {
		font-size: 18px;
		color: #fff;
	}

	&__number {
		position: relative;
		padding-top: 100px;
		&::before {
		font-family: "Linearicons-Free";
		font-size: 48px;
		position: absolute;
		top: 0;
		}
	}


	&__number--sale {
		color: #feb71d;
		&::before {
		content: "\e84c";
		left: 30px;
		}
	}

	&__number--total {
		color: #58c9e9;
		&::before {
		content: "\e80b";
		left: 18px;
    top: 2px;
		}
	}

	&__number--customers {
		color: #77de51;
		&::before {
		content: "\e854";
		left: 50px;
		}
	}

	&__number--members {
		color: #ff6a6d;
		&::before {
		content: "\e82b";
		left: 30px;
		}
	}
}


.choose {
	padding: 120px 0 90px;
	text-align: center;
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__title {
		font-size: 36px;
		&--blue {
		color: $light-blue;
		}
	}

	&__text {
		color: #555555;
		max-width: 675px;
		margin: 30px auto 25px;
		line-height: 30px;
	}

	&__item {
		position: relative;
		width: 360px;
		padding: 55px 30px 60px;
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		margin-top: 30px;
	}

	&__number {
		font-family: 'Quicksand-Light', sans-serif;
		font-size: 48px;
		color: rgba(92, 135, 248, 0.2);
		position: absolute;
		left: 20px;
    top: 20px;
	}

	&__item-title {
		display: inline-block;
		margin: 100px 0 30px;
		font-size: 24px;
		position: relative;
		&::before {
		font-family: "Linearicons-Free";
		font-size: 60px;
		position: absolute;
		left: 99px;
    top: -99px;
		}
		&--payment::before {
			content: "\e822";
			color: $light-blue;
			left: 73px;
			}
	
			&--products::before {
			content: "\e803";
			color: #7347c1;
			left: 59px;
			}
	
			&--secure::before {
			content: "\e80f";
			color: #77de51;
			}
	
			&--organized::before {
			content: "\e843";
			color: #feb71d;
			}
	
			&--free::before {
			content: "\e849";
			color: #58c9e9;
			}
	
			&--support::before {
				content: "\e831";
			color: #ff6a6d;
			}
	}

	&__item-text {
		font-size: 16px;
		color: #555555;
		line-height: 27px;
	}
}


.purchases {
	display: flex;
	color: #fff;
	height: 560px;
	&__inner {
		max-width: 580px;
		height: 560px;
		padding: 100px 10px 0;
	
	}

	&__sell,
	&__shop {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: 36px;
		margin: 45px 0 10px;
	}

	&__text {
		line-height: 30px;
	}

	&__btn {
		background-color: #fff;
		border: none;
		cursor: pointer;
		padding: 19px 28px;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		margin-top: 45px;
		margin-bottom: 100px;
		transition: all .3s;
		&:focus {
			outline: none;
		}

		&--sell {
			border: 1px solid $light-blue;
			color: $light-blue;
		}

		&--shop {
			border: 1px solid #7347c1;
			color: #7347c1;
			padding: 19px 36px;
		}
		&:hover,
		&:focus {
			border-color: #fff;
			background-color: transparent;
			color: #fff;
		}
	}
}


.feedback {
	padding: 120px 0;
	text-align: center;
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 30px;
	}
	&__title {
		font-size: 36px;
		&--blue {
		color: $light-blue;
		}
	}

	&__text {
		color: #555555;
		max-width: 675px;
		margin: 30px auto 25px;
		line-height: 30px;
	}
	&__item {
		max-width: 555px;
		padding: 50px 40px;
		text-align: left;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-left: 2px solid $light-blue;
	}
	
	&__info {
		display: flex;
		margin-bottom: 18px;
		align-self: flex-end;
		position: relative;
		&::after {
		font-family: "Linearicons-Free";
		content: "\e83f";
		font-size: 60px;
		color: rgba($color: #e8e8e8, $alpha: .6);
		position: absolute;
		right: 0px;
		top: 0px;
		}
	}

	&__info-personal {
		height: 55px;
		margin-left: 16px;
    margin-top: 15px;
	}

	&__image {
		width: 80px;
		height: 80px;
	}

	&__name {
		font-size: 20px;
		margin-bottom: 8px;
	}

	&__link {
		color: #000000;
	}

	&__profession {
		color: #555555;
	}

	&__item-text {
		line-height: 28px;
	}

	&__btn {
		display: inline-block;
		font-size: 16px;
		margin: 60px auto 0;
		outline: none;
		border: none;
		color: $light-blue;
		background-color: #fff;
		padding: 19px 33px;
		border-radius: 30px;
		cursor: pointer;
		border: 1px solid $light-blue;
		transition: all .3s;
		margin-top: 36px;
		&:hover,
		&:focus {
		background-color: $light-blue;
		color: #fff;
		}
	}
}


.news {
	background-color: #eff1f5;
	padding: 120px 0;
	text-align: center;
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 30px;
	}
	&__title {
		font-size: 36px;
		&--blue {
		color: $light-blue;
		}
	}

	&__text {
		color: #555555;
		max-width: 675px;
		margin: 30px auto 25px;
		line-height: 30px;
	}

	&__item {
		border-radius: 4px;
		max-width: 361px;
		text-align: left;
	}

	&__info {
		background-color: #fff;
		margin-top: -2px;
		z-index: 2;
	}

	&__item-title {
		font-family: 'Quicksand-Medium', sans-serif;
		font-size: 22px;
		padding: 25px 30px;
	}

	&__item-text {
		padding: 0 30px 30px 30px;
		border-bottom: 1px solid #ececec;
	}

	&__bottom {
		font-size: 15px;
		color: #999999;
		display: flex;
		justify-content: space-between;	
		margin: 0px 30px;
	}

	&__data {
		margin: 10px 0 8px;
		padding: 12px 0 12px 24px;
		position: relative;
		&::before {
		font-family: "Linearicons-Free";
		content: "\e864";
		font-size: 15px;
		color: $light-blue;
		position: absolute;
		left: 0px;
		}
	}

	&__comments {
		margin: 10px 0 8px;
		padding: 12px 0;
		padding-left: 57px;
		border-left: 1px solid #ececec;
		position: relative;
		&::before {
		font-family: "Linearicons-Free";
		content: "\e83f";
		color: #7e7e7e;
		font-size: 15px;
		position: absolute;
		left: 34px;
		}
	}

	&__views {
		margin: 10px 0 8px;
		padding: 12px 0;
		position: relative;
		padding-left: 23px;
		&::before {
		font-family: "Linearicons-Free";
		content: "\e81b";
		color: #7e7e7e;
		font-size: 15px;
		position: absolute;
		left: 0px;
		}
	}
}


.facts {
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		font-size: 24px;
		padding-top: 155px;
		&--blue {
		color: $light-blue;
		position: relative;
		&::after {
		content: '';
		position: absolute;
		width: 150px;
		height: 120px;
		background-image: url(../images/facts-icon-1.png);
		top: -141px;
    left: -122px;
		}
		}
		&--violent {
		color: #7347c1;
		position: relative;
		&::after {
		content: '';
		position: absolute;
		width: 155px;
		height: 120px;
		background-image: url(../images/facts-icon-2.png);
		background-repeat: no-repeat;
		top: -141px;
    left: -122px;
		}
		}
	}

	&__guarantee {
		text-align: center;
		width: 50%;
		padding: 60px 0;
		border-right: 1px solid #e8eaf3;
	}

	&__support {
		text-align: center;
		width: 50%;
		padding: 60px 0;
	}
}


.join {
	background: linear-gradient(270deg, rgba(13,62,242,1) 0%, rgba(64,48,201,1) 46%, rgba(114,33,160,1) 100%);
	opacity: 0.902;
	height: 400px;
	color: #fff;
	text-align: center;
	&__inner {
		padding: 100px 0 110px;
	}

	&__title {
		font-size: 36px;
	}

	&__text {
		font-size: 18px;
		margin: 16px 0 50px;
	}

	&__btn {
		border-radius: 30px;
		color: $light-blue;
		padding: 18.5px 43px;
		transition: all .3s;
		border: 1px solid #fff;
		background-color: #fff;
		cursor: pointer;
		&:hover,
		&:focus {
		background: transparent;
		color: #fff;
		}
	}
}


.footer {
	font-size: 15px;
	color: #999999;
	background-color: #262b30;
	padding-top: 113px;
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 110px;
	}

	&__title {
		font-size: 18px;
		color: #fff;
		margin: 20px 0 30px;
	}

	&__contacts {
		max-width: 275px;
		font-size: 15px;
	}

	&__text {
		line-height: 28px;
		margin: 25px 0 25px;
		&--newsletter {
			margin-top: -5px;
		}
	}
	
	&__phone {
		display: inline-block;
		color: #999999;
		position: relative;
		padding-left: 30px;
		&::before {
			font-family: "Linearicons-Free";
			content: "\e830";
			color: #fff;
			font-size: 16px;
			position: absolute;
			left: 0;
		}
	}

	&__mail {
		display: inline-block;
		color: #999999;
		position: relative;
		padding: 15px 0;
		padding-left: 30px;
		&::before {
			font-family: "Linearicons-Free";
			content: "\e818";
			color: #fff;
			font-size: 16px;
			position: absolute;
			left: 0;
		}
	}

	&__adress {
		display: inline-block;
		color: #999999;
		position: relative;
		padding-left: 30px;
		line-height: 26px;
		&::before {
			font-family: "Linearicons-Free";
			content: "\e833";
			color: #fff;
			font-size: 16px;
			position: absolute;
			left: 0;
			top: 15px;
		}
	}

	&__company {
		max-width: 135px;
	}

	&__list {
		padding: 0;
	}

	&__item {
		display: block;
	}

	&__item + &__item {
		margin-top: 15px;
	}

	&__link {
		cursor: pointer;
		color: #999999;
		transition: all .3s;
		&:hover,
		&focus {
			color: #fff;
		}
	}

	&__newsletter {
		max-width: 365px;
	}

	&__form {
		position: relative;
	}

	&__input {
		font-size: 15px;
		width: 100%;
		height: 50px;
		border-radius: 30px;
		border: none;
		padding: 0 130px 0 30px;
	}

	&__btn {
		position: absolute;
		right: 0px;
		font-size: 15px;
		height: 50px;
		border-radius: 30px;
		border: none;
		background-color: $light-blue;
		color: #fff;
		padding: 0 31px;
		cursor: pointer;
	}	

	&__copy {
		text-align: center;
		font-size: 15px;
		background-color: #192027;
		padding: 38px 0 40px;
		&--white {
			color: #fff;
		}
	}

}


.social {
	margin-top: 49px;

	&__row {
		display: inline-block;
		& + & {
			margin-left: 14px;
		}
	}

	&__list {
		padding: 0;
	}
	
	&__item {
		display: inline-block;
		cursor: pointer;
		display: inline-block;
	}

	&__item + &__item {
		margin-left: 12px;
	}

	&__link {
		display: inline-block;
		position: relative;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		&::before {
		position: absolute;
		color: #fff;
		top: 12px;
		left: 15px;
		}

		&--facebook {
		background-color: #395799;
		&::before {
			font-family: "icomoon";
			content: "\f09a";
			font-size: 16px;
			left: 16px;
		}
		}

		&--twitter {
		background-color: #19b2f5;
		&::before {
			font-family: "icomoon";
			content: "\f099";
			font-size: 16px;
		}
		}

		&--google {
		background-color: #f05b44;
		&::before {
			font-family: "icomoon";
			content: "\f1a0";
			font-size: 16px;
			top: 11px;
			left: 14px;
		}
		}

		&--pinterest {
		background-color: #9c0c1c;
		&::before {
			font-family: "icomoon";
			content: "\f0d2";
			font-size: 16px;
			top: 11px;
			left: 14px;
		}
		}

		&--linkedin {
		background-color: #0da6be;
		&::before {
			font-family: "icomoon";
			content: "\f0e1";
			font-size: 16px;
		}
		}

		&--dribbble {
		background-color: #ea4c89;
		&::before {
			font-family: "icomoon";
			content: "\f17d";
			font-size: 16px;
			top: 11px;
			left: 14px;
		}
		}
	}
}

/* end main-page */


/* start breadcrumbs */

.breadcrumbs {

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		display: inline-block;
		&:last-child {
			.breadcrumbs__link,
			.breadcrumbs__span {
				color: #bfcad7;
			}
		}
	}

	&__item + &__item {
		margin-left: 4px;
		&::before {
			content: ' / ';
			color: #fff;
			margin-right: 4px;
		}
	}

	&__link,
	&__span {
		font-size: 15px;
		color: #fff;
	}
}

/* end breadcrumbs */

/* start category-page */

.page-search {
	height: 280px;
	background: linear-gradient(270deg, rgba(13,62,242,1) 0%, rgba(64,48,201,1) 46%, rgba(114,33,160,1) 100%);
	&__inner {
		text-align: center;
		color: #fff;
	}

	&__title {
		font-size: 26px;
		padding: 75px 0 25px;
		&--medium {
			font-family: 'Quicksand-Medium', sans-serif;
		}
	}

	&__form {
		max-width: 558px;
		position: relative;
		margin: 0 auto;
	}

	&__input {
		width: 100%;
		height: 55px;
		border: none;
		border-radius: 30px;
		padding-left: 30px;
		padding-right: 140px;
		line-height: 55px;
		font-size: 15px;
		color: #747b86;
		margin-bottom: 40px;
	}

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		height: 55px;
		padding: 17px 31px;
		border: none;
		background-color: $light-blue;
		color: #fff;
		font-size: 15px;
		border-radius: 30px;
		border: 1px solid $light-blue;
		cursor: pointer;
	}
	.breadcrumbs {
		text-align: center;
	}
}


.category-page {
	background-color: #eff1f5;
	&__top {
		background-color: #fff;
	}
}

/* end category-page */



@import 'media';