@import 'vars';
@import 'global';
@import 'fonts';


.header{
	&__top {
	background-color: #eef1f3;
	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
	}
	&__btn {
		color: #fff;
		background-color: $light-blue;
		line-height: 28px;
		font-size: 15px;
		padding: 6px 17px;
		border-radius: 20px;
		margin: 0 35px 0 auto;
	}
	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 50px;
	}
}

.notifications__icon {
	position: relative;
	margin-left: 30px;
}

.notifications__icon::after {
	position: absolute;
	content: '25';
	top: -17px;
	left: 10px;
	font-size: 14px;
	color: #fff;
	padding: 2px 4px;
	background-color: #ff6a6c;
	border-radius: 14px;
	min-width: 22px;
	min-height: 22px;
	text-align: center;
}

.notifications__mails {
	margin-bottom: 3px;
}

.notifications__mails::after {
	content: '666';
	top: -14px;
	background-color: #62d03b;
}

.notifications__shopping-cart::after {
	content: '245';
	background-color: $light-blue;
}


.header__profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile__img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 25px;
}

.profile__name {
	margin-bottom: 5px;
	font-weight: 700;
}

.profile__wallet {
	font-size: 15px;
	font-weight: 500;
	color: $light-blue;
}


	
.header__menu-inner {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.menu {
	&__item + &__item {
	margin-left: 35px;		
	}
	&__link {
		color: $text;
		text-transform: uppercase;
		font-weight: 600;
	}
	&__search {
		max-width: 362px;
		position: relative;
		input {
			color: #898f96;
			outline: none;
			height: 46px;
			width: 100%;
			border: 1px solid rgb(217, 223, 229);
			border-radius: 30px;
			padding: 0 80px 0 25px;
		}
		&-btn {
			cursor: pointer;
			position: absolute;
			border: none;
			padding: 14px 27px;
			border-radius: 30px;
			background-color: $light-blue;
			right: 0;
			top: 0;
		}
	}
}

.lnr-magnifier {
	color: #fff;
}

.main-screen {
	background-color: #294cce;
	padding: 180px 0;
	color: #fff;
	text-align: center;
	&__title {
	font-size: 60px;
	line-height: 70px;
	font-family: 'Quicksand-Bold', sans-serif;
	&-thin {
		font-family: 'Quicksand-Regular', sans-serif;
	}
	}

	&__text {
		font-family: 'Quicksand-Medium', sans-serif;
		margin: 50px 0;
		font-size: 20px;
	}
	&__link {
		display: inline-block;
		margin: 14px;
		font-size: 16px;
		border: 1px solid #fff;
		border-radius: 35px;
		padding: 20px 30px;
		&:hover,
		&-active {
			background-color: #fff;
			color: #294cce;
		}
	}
}

.search {
	margin-bottom: 130px;
	&__inner {
		position: relative;
	}
	&__box-shadow-1 {
		border-radius: 6px;
		background-color: #fff;
		opacity: .5;
		position: absolute;
		max-width: 1080px;
		width: 100%;
		height: 135px;
		top: -95px;
		right: 30px;
	}
	&__box-shadow-2 {
		background-color: #fff;
		border-radius: 6px;
  	opacity: .5;
  	position: absolute;
		max-width: 1110px;
		width: 100%;
		height: 135px;
		top: -80px;
		right: 15px;
		z-index: 2;	
	}
	&__box-main {
		position: absolute;
		background-color: #fff;
		max-width: 1140px;
		width: 100%;
		height: 135px;
		border-radius: 6px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		z-index: 3;
		display: flex;
		align-items: center;
		top: -65px;
	}
	&__form {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
	&__categories {
		color: #555555;
		position: absolute;
		right: 295px;
		top: 1px;
		padding: 18px 10px 19px 20px;
		border-left: 1px solid #dcdcdc;
		cursor: pointer;
		&-icon {
			padding-left: 33px;
			padding-right: 7px;
			font-size: 12px;
			color: #676767;
		}
	}
	&__input {
		border-radius: 4px;
		border: 1px solid #dcdcdc;
		max-width: 808px;
		height: 55px;
		width: 100%;
		padding: 0 225px 0 30px;
		margin: 0 30px 0 40px;
	}

	&__btn {
		color: #fff;
		max-width: 225px;
		width: 100%;
		background-color: $light-blue;
		padding: 20px 60px;
		border: none;
		border-radius: 3px;
	}
}

.categories__list{
	position: absolute;
	padding: 20px 20px 10px;
	border: 1px solid #dcdcdc;
	right: -3px;
	top: 40px;
	border-top: none;
	background-color: #fff;
	width: 192px;
	display: none;
}

.categories__list.active {
	display: block;
}

.lnr-chevron-down.active:before {
	content: "\e873";
}

.categories__item {
	display: block;
	text-align: start;
	padding: 7px 0;
}

.categories__link {
	color: #555555;
}

.reasons {
	margin-top: 230px;
	padding-bottom: 170px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: 24px;
		margin: 30px 0 20px;
	}
	&__item {
		max-width: 360px;
		padding: 40px 0 50px;
		width: 100%;
		&:hover {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}
	}

	&__text {
		font-size: 16px;
		line-height: 30px;
		margin: 0 30px;
		color: #555555;
	}
}


.products-slider {
	background-color: #eff1f5;
	padding: 115px 0;
	&__inner {
		position: relative;
	}
	&__title {
		display: flex;
		align-items: center;
		font-size: 30px;
		height: 120px;
		background-color: #fff;
		width: 100%;
		padding: 0 35px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		margin-bottom: 50px;
	}

	&__img {
		margin-right: -4px;
		z-index: 5;
	} 
	&__item{
		display: flex;
		align-items: flex-start;
		width: 100%;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}
	&__description {
		display: inline-block;
		height: 450px;
		max-width: 594px;
		width: 100%;
		background-color: #fff;
		padding: 50px 60px 30px 50px;
		border-radius: 4px;
	}
}

.products-slider__img {
	display: inline-block;
	height: 450px;
	max-width: 550px;
	width: 100%;
	background-repeat: no-repeat;
}

.description {
	&__title {
		font-size: 24px;
		font-family: 'Quicksand-Medium', sans-serif;
	}
	&__author {
		font-size: 15px;
		display: flex;
		align-items: center;
		padding: 20px 0;
	}
	&__text {
		max-width: 455px;
		font-size: 15px;
		line-height: 30px;
		color: #555555;
		margin-bottom: 35px;
	}
	&__modules {
		padding-bottom: 40px;
		border-bottom: 1px solid #ececec;
	}
	&__module {
		display: inline-block;
		color: #868c96;
		padding: 6px 15px;
		background-color: #f1f3f6;
		border-radius: 20px;
		margin: 0 4px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 20px;
	}
	&__price {
		display: inline-block;
		color: #fff;
		font-family: 'Quicksand-Medium', sans-serif;
		background-color: $light-blue;
		padding: 7px 18px;
		border-radius: 20px;
	}
	&__likes {
		display: inline-block;
		margin: 0 20px 0 45px;
	}
	&__added {
		display: inline-block;
		padding-left: 25px;
		color: $light-blue;
	}
	&__stars {
		display: inline-block;
		margin-left: auto;
	}
}

.lnr-heart {
	position: relative;
	color: #7347c1;
	font-size: 15px;
}
.lnr-heart:before {
	position: absolute;
	left: 20px;
	top: 1px;
}

 .cart-slider.lnr-cart {
	position: relative;
	color: $light-blue;
	font-size: 15px;
}
.cart-slider.lnr-cart:before {
	position: absolute;
	left: 1px;
	top: 0;
} 

.author__name {
	padding: 0 10px;
}

.author__type {
	color: #7347c1;
	padding-left: 40px;
}

.slick-arrow {
	outline: none;
	border: none;
	background-color: #7347c1;
	height: 45px;
	width: 55px;
	font-size: 0;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	cursor: pointer;
}

.slick-prev {
	right: 85px;
	top: -130px;
	border-top-left-radius: 23px;
	border-bottom-left-radius: 23px;
	background-image: url(../images/lnr-chevron-left.svg);
	
}

.slick-next {
	right: 30px;
	top: -130px;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
	background-image: url(../images/lnr-chevron-right.svg);
}