@import 'vars';
@import 'global';
@import 'fonts';


.header{
	&__top {
	background-color: #eef1f3;
	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
	}
	&__btn {
		color: #fff;
		background-color: $light-blue;
		line-height: 28px;
		font-size: 15px;
		padding: 6px 17px;
		border-radius: 20px;
		margin: 0 35px 0 auto;
	}
	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 50px;
	}
}

.notifications__icon {
	position: relative;
	margin-left: 30px;
}

.notifications__icon::after {
	position: absolute;
	content: '25';
	top: -17px;
	left: 10px;
	font-size: 14px;
	color: #fff;
	padding: 2px 4px;
	background-color: #ff6a6c;
	border-radius: 14px;
	min-width: 22px;
	min-height: 22px;
	text-align: center;
}

.notifications__mails {
	margin-bottom: 3px;
}

.notifications__mails::after {
	content: '666';
	top: -14px;
	background-color: #62d03b;
}

.notifications__shopping-cart::after {
	content: '245';
	background-color: $light-blue;
}


.header__profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile__img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 25px;
}

.profile__name {
	margin-bottom: 5px;
	font-weight: 700;
}

.profile__wallet {
	font-size: 15px;
	font-weight: 500;
	color: $light-blue;
}


	
.header__menu-inner {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.menu {
	&__item + &__item {
	margin-left: 35px;		
	}
	&__link {
		color: $text;
		text-transform: uppercase;
		font-weight: 600;
	}
	&__search {
		max-width: 362px;
		position: relative;
		input {
			color: #898f96;
			outline: none;
			height: 46px;
			width: 100%;
			border: 1px solid rgb(217, 223, 229);
			border-radius: 30px;
			padding: 0 80px 0 25px;
		}
		&-btn {
			cursor: pointer;
			position: absolute;
			border: none;
			padding: 14px 27px;
			border-radius: 30px;
			background-color: $light-blue;
			right: 0;
			top: 0;
		}
	}
}

.lnr-magnifier {
	color: #fff;
}

.main-screen {
	background-color: #294cce;
	padding: 180px 0;
	color: #fff;
	text-align: center;
	&__title {
	font-size: 60px;
	line-height: 70px;
	font-family: 'Quicksand-Bold', sans-serif;
	&-thin {
		font-family: 'Quicksand-Regular', sans-serif;
	}
	}

	&__text {
		font-family: 'Quicksand-Medium', sans-serif;
		margin: 50px 0;
		font-size: 20px;
	}
	&__link {
		display: inline-block;
		margin: 14px;
		font-size: 16px;
		border: 1px solid #fff;
		border-radius: 35px;
		padding: 20px 30px;
		&:hover,
		&-active {
			background-color: #fff;
			color: #294cce;
		}
	}
}

